/*.operate{ background:url(../images/operate-icon.png) no-repeat; height:18px; display:inline-block; width:18px; margin-left:8px; margin-top:5px;}*/
.op-view{ background-position:0px 0px;}
.op-edit{ background-position:-25px 0px;}
.op-puton{background-position:-73px 0px;}
.op-pulloff{background-position:-55px 0px;}
.op-cloudon{background-position:-120px 0px;}
.op-cloudoff{background-position:-120px -18px;}
.op-delete{ background-position:-100px 0px;}

/*.ui-star {background:url(../images/operate-icon.png);background-position:0px -18px;background-repeat:repeat-x; height:18px; display:inline-block;margin-left:8px; margin-top:5px;}*/