
.fleft{float:left;}
.fright{float:right;}

.frm_tips,.addstore{padding-left:23px;color:#8d8d8d;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;font-size:14px;}

label.radio{font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;font-size:14px;}

.steps .span2{width:18% !important;}

.dataTables_filter label input.medium{width:150px !important;}

#responsive .portlet.box .portlet-title{padding:0;}

.container-fluid{padding-right:8px;padding-left:8px;}
.row-fluid{margin-top:8px;}
.portlet.box.blue .portlet-title{background:#555;}

.control-group .type_quan{margin-top:7px;display:block;}

.ka_h3{/*margin:20px 0 20px -20px;font-weight:bold;*/}
.controls .ka_title{font-size:14px;line-height:34px;}

.controls .ka_add{background:#ff9415;padding:4px 15px;color:#fff;font-size:14px;text-decoration:none;cursor:pointer;border:1px solid #B27900;display:inline-block;}

.ka_textarea textarea{width:60%;}

.red{color:#f00;}
.g6{color:#666;}

#preview{ overflow:hidden;}
#imghead{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}

.fileInput{width:102px;height:34px;background:url(/media/image/upFileBtn.png);overflow:hidden;position:relative;}

.upfile{position:absolute;top:-100px;}
.upFileBtn{width:102px;height:34px;opacity:0;filter:alpha(opacity=0);cursor:pointer;}


.form-horizontal .control-label{min-width:40px;width:20%;vertical-align:top;display:inline-block;}
.form-horizontal .controls{margin-left:0px;width:75%;display:inline-block;}
textarea{width:100%}
.selectCFList label.list img{max-height:100px}
.selectCFList .list{padding:2px;}